/*
Lellow: #e8ba5d
Cool gray: #7b8c94
*/

#wrapper{
		margin-right: auto;
		margin-left: auto;
		width: 90%;
		height: 100%;
		min-width: 960px;
		max-width: 2048px;
}

main{
		padding-top: 50px;
		padding-bottom: 50px;
		display: block;
		margin-left: 250px;
		margin-right: 0px;
		font-family: Avenir;
		text-align: center;
		color: #FFF;
		margin-top: 0px;
		font-size: 20px;
}

header{
		padding: 30px;
		text-align: center;
		color: #e8ba5d;
		background-color: #FFF;
		font-family: Avenir;
		font-size: 90px;
		margin-top: 30px;
		margin-bottom: 0px;
		font-style: italic;
}

nav{
		font-family: Avenir;
		float: left;
		width: 200px;
		position: sticky;
		margin-top: 50px;
		top: 30px;
}

nav a{
		text-decoration: none;
		display: block;
		padding: 15px;
}

nav li{
		display: block;
		margin-bottom: 10px;
		text-align: center;
		background-color: #e8ba5d;
}

nav ul{
		list-style-type: none;
		margin: 0;
		padding-left: 0;
		font-size: 1.2em;
}


nav a{
		color:#7b8c94;
}

nav a:hover{
		color:#FFF;
}

nav a.active{
	background-color: #FFF;
	color: #e8ba5d;
}


h1{
		padding: 35px;
		font-size: 50px;
		background-color: #e8ba5d;
		text-align: left;
		color: #FFF;
		margin-top: 0px;
}

p{
		margin-left: 20px;
		margin-right: 20px;
		line-height: 30px;
		padding: 55px;
		padding-left: 50px;
		padding-right: 50px;
		background-color: rgb(123, 140, 148, 0.5);
}

.h2{
		font-size: 60px;
		line-height: 120px;
}

.h3{
	font-size: 40px;
	line-height: 60px;
	color: #e8ba5d;
	font-style: italic;
}

.tiny{
	font-size: 12px;
	font-style: italic;
}


footer{
		font-size: 75%;
		text-align: center;
		font-style: italic;
		font-family: Avenir;
		padding: 20px;
		margin-left: 190px;
		clear: both;
		
}

footer a{
	color: #e8ba5d;
}

footer a:hover{
	color: #FFF;
}

form{
		padding-top: 1em;
		text-align: center;
}

.button {
  background-color: #e8ba5d
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:hover {
	background-color: white;
	color: #e8ba5d;
}

#backg{
		background-color:#000000; 
		background-attachment: fixed; 
		background-image: url(https://images.pexels.com/photos/4827/nature-forest-trees-fog.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); 
		background-repeat: no-repeat;
		background-position: left top; 
		max-width: 100%;
		min-height: 100%;
}

#roundframe{
		border-radius: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		border: 0;
}

#squareframe{
		display: block;
		margin-left: auto;
		margin-right: auto;
		border: 0;
}


th{
		color: #e62739;
}
