/*
Lellow: #e8ba5d
Cool gray: #7b8c94
*/

#wrapper{
		margin-right: auto;
		margin-left: auto;
		width: 90%;
		height: 100%;
		min-width: 960px;
		max-width: 2048px;
}

main{
		padding-top: 50px;
		padding-bottom: 50px;
		display: block;
		margin-left: 250px;
		margin-right: 0;
		font-family: Avenir;
		text-align: center;
		color: #FFF;
}

table{
		margin-left: auto;
		margin-right:auto;
}

header{
		padding: 30px;
		text-align: center;
		color: #e8ba5d;
		background-color: #FFF;
		font-family: Avenir;
		font-size: 80px;
		margin-top: 30px;
}

nav{
		font-family: Avenir;
		float: left;
		width: 200px;
		padding-top: 30px;
}

nav a{
		text-decoration: none;
		display: block;
}

nav li{
		display: block;
		padding: 10px;
		margin-bottom: 10px;
		text-align: center;
		background-color: #e8ba5d;
}

nav ul{
		list-style-type: none;
		margin: 0;
		padding-left: 0;
		font-size: 1.2em;
}


nav a{
		color:#7b8c94;
}

nav a:hover{
		color:#FFF;
}


h1{
		font-family: Avenir;
		padding: 25px;
		background-color: #FFF;
		text-align: left;
		color: #7b8c94;
}

h3{
		text-align: center;
}

p{
		font-family: Avenir;
}

footer{
		font-size: 75%;
		text-align: center;
		font-style: italic;
		font-family: Helvetica;
		padding: 20px;
		margin-left: 190px;
		clear: both;
		
}

form{
		padding-top: 1em;
		text-align: center;
}

table, td, th { 
		border: none;
		text-align: center;
		padding: .5em;
 }

#backg{
		background-color:#000000; 

		background-attachment: fixed; 

		background-image: url(https://images.pexels.com/photos/4827/nature-forest-trees-fog.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); 

		background-repeat: no-repeat; 

		background-position: right bottom; 
}

#roundframe{
		border-radius: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		border: 5px solid black;
}

#squareframe{
		display: block;
		margin-left: auto;
		margin-right: auto;
		border: 5px solid black;
}


th{
		color: #e62739;
}
